# User configuration files.
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*ReSharper*

# Debugging files.
*.pdb
*.pidb
*.vsp

# Merge conflict-related files.
*.orig

# Output directories.
bin/*
*/obj/*
IIS.SLSharp.NuGet/*/*

# Test directory
TestResults/*

Debug